{% extends 'layouts/head.twig' %}

{% block content %}

    <section class="content-header">
        <h1>
            Data Merk (Branding)
            <small>Data-data brand terdaftar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Merk (Branding)</a></li>
            <li class="active">List Merk</li>
        </ol>
    </section>
    {#{{ dump(listLapak) }}#}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nama Merk</th>
                                <th>Deskripsi</th>
                                <th>Updated At</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for list in listMerk %}
                            {% set i = 1 %}
                            <tr>
                                <th>{{ i }}</th>
                                <th>{{ list.namaMerk }}</th>

                                <th>{{ list.updatedAt|date('d M Y')}}</th>
                            </tr>
                            </tbody>
                            {% set i = i + 1 %}
                            {% endfor %}
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
{% endblock %}